<div>
<%= flash[:notice] %>
</div>

<p>
<strong>Title : </strong>
<%= @book.title %>
</p>

<p><strong>Body : </strong>
<%= @book.body %>
</p>

<td>
  <%= link_to 'Edit', bookedit_path(@book.id) %>
</td>
|
<td>
  <%= link_to 'Back', newbook_path %>
</td>